body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #9aa3ac;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  font-family: 'PingFang SC', 'Microsoft YaHei', 'Lantinghei SC',
    'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei',
    'sans-serif', 'SimSun';
}

#root {
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.login-body {
  .re-border-bold {
    border: 0;
    border-bottom: 1px solid #efefef;
    .ant-input:focus {
      border-bottom: 2px solid rgba(64, 124, 213, 1) !important;
    }
  }
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
  .login-content {
    display: flex;
    width: 960px;
    height: 580px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px;
    .left-panel {
      width: 370px;
      padding: 60px 60px 40px 60px;
      position: relative;
      background-color: white;
      .welcome-home {
        line-height: 25px;
        color: #333333;
        font-size: 18px;
      }
      .login-info {
        padding-top: 74px;
        margin-bottom: 50px;
        .ant-input {
          border: 0;
          padding-left: 0;
          color: rgba(51, 51, 51, 1);
          border-radius: 0;
          font-size: 14px;
          &:hover,
          &:focus {
            box-shadow: none;
          }
        }
      }
      .re-login {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        text-align: center;
      }
      .cancel-reset-pwd {
        line-height: 20px;
        color: rgba(170, 170, 170, 1);
        font-size: 14px;
        font-family: PingFangSC-Regular;
        cursor: pointer;
      }
    }
    .right-panel {
      overflow: hidden;
    }
    .right-panel img {
      width: calc(960px - 370px);
      height: 100%;
      transition: 0.8s ease-in-out;
    }
    .right-panel img:hover {
      transform: scale(1.1);
      zoom: 1;
    }
  }
  .login-footer {
    width: 100%;
    height: 17px;
    line-height: 17px;
    text-align: center;
    color: #9aa3ac;
    font-size: 12px;
    .ant-btn {
      margin-bottom: 10px;
      width: 100%;
      height: 40px;
      border-radius: 4px;
      background-color: rgba(40, 125, 220, 1);
      box-shadow: 0px 2px 4px 0px rgba(129, 161, 208, 0.47);
    }
  }
}
